.roots{
    width:100%;
    height:480px;
    display:flex;
}
.rootsinfo{
    width:100%;
    display:flex;
}
.rootsimg{
    width:50%;
    height:430px;
    align-items: center;
    float:left;
    margin-left:7%;
}
.rootsimg img{
    width: 69%;
    height: 84%;
    margin-top:7%;
}
.rootstext{
    width:50%;
    float:right;
    padding-top:10%;
    margin-left: -9%;
}
.rootstext h1{
    font: normal normal 900 40px/53px 'Avenir LT Std 95 Black';
    margin-left: 1%;
    color:#ff2424;
}
.rootstext p{
    width: 350px;
    font:   normal normal normal 18px/27px 'Avenir LT Std 55 Roman';
    padding: 23px;
    color: #0E1E40;
    margin-left: -2%;
    margin-top: -4%;
}
.softskills{
    width:100%;
    height:480px;
    display:flex;
}
.softskillsinfo{
    width:100%;
    display:flex;
    background-color:#0E1E4012;
}
.softskillsimg{
    width:50%;
    height:430px;
    align-items: center;
    float:right;
    margin-left:-2%;
}
.softskillsimg img{
    width: 69%;
    height: 84%;
    margin-top:7%;
}
.softskillstext{
    width:50%;
    float:left;
    padding-top:10%;
    margin-left:-1%;
}
.softskillstext h1{
    font: normal normal 900 40px/53px 'Avenir LT Std 95 Black';
    margin-left: 18%;
    color:#ff2424;
}
.softskillstext p{
    width: 356px;
    font:   normal normal normal 18px/27px 'Avenir LT Std 55 Roman';
    padding: 23px;
    color: #0E1E40;
    margin-left: 15%;
    margin-top: -4%;
}
.career{
    width:100%;
    height:480px;
    display:flex;
}
.careerinfo{
    width:100%;
    display:flex;
}
.careerimg{
    width:50%;
    height:430px;
    align-items: center;
    float:left;
    margin-left:7%;
}
.careerimg img{
    width: 69%;
    height: 84%;
    margin-top:7%;
}
.careertext{
    width:50%;
    float:right;
    padding-top:10%;
    margin-left:-9%;
}
.careertext h1{
    font: normal normal 900 40px/53px 'Avenir LT Std 95 Black';
    margin-left: 1%;
    color:#ff2424;
}
.careertext p{
    width: 368px;
    font:   normal normal normal 18px/27px 'Avenir LT Std 55 Roman';
    padding: 23px;
    color: #0E1E40;
    margin-left: -2%;
    margin-top: -4%;
}
.plans{
    width:100%;
    height:430px;
}
.plansinfo{
    width:100%;
    display:flex;
    height:100%;
    background-color:#0E1E4012;
}
.plansimg{
    width:50%;
    height:400px;
    align-items: center;
    float:right;
}
.plansimg img{
    width: 50%;
    height: 330px;
    padding-top: 7%;
    margin-left: 8%;
}
.planstext{
    width:50%;
    color:#ff2424;
    float:left
}
.planstext h1{
    padding-top: 13%;
    width: 65%;
    font: normal normal normal 40px/53px 'Avenir LT Std 95 Black';
    margin-left:16%;
}
.buttoncall{
    width: 150px;
    height: 50px;
    color: white;
    background-color:#e78200;
    border:none;
    border-radius:6px;
    margin-left:16%;
    font-family: 'futura-pt';
    font-weight:600;
    font-size:15px;
}
.signup{
    width:100%;
    height:450px;
}
.signupimage{
    width:100%;
    height:100%;
    background-image: url('../assets/images/signupimg.png');
    background-size: cover;
    background-position: center;
}
.signuptext{
    text-align:center;
    position:relative;
    float:left;
    display:flex;
}
.signtext{
    width: 430px;
    height: 180px;
    background: transparent url('../assets/images/Rectangle.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    color:white;
    border-radius:10px;
    margin-left: 11%;
    margin-top: 22%;
}
.textsignup{
    color: white;
    font-weight: lighter;
    padding-top: 0;
}
.textsignup p{
    width: 86%;
    padding: 27px;
    font: normal normal normal 15px/23px 'Avenir LT Std 55 Roman';
    opacity:0.85;
}
.signupform{
    text-align: center;
    position: relative;
    float: right;
    height: 100%;
    margin-top: -447px;
}
.formtext{
    text-align: start;
    margin-top: 100px;
    margin-right:210px;
    color: white;
}
.formtext h2{
    font-family: 'futura-pt';
    font-weight:normal;
}
.form{
    text-align:start;
    cursor: text;
}
.form input{
    width:273px;
    height:40px;
    background:transparent url('../assets/images/Rectangle 71.svg') 0% 0% no-repeat padding-box;
    border-radius:9px;
    border:none;
    color:white;
}
.button{
    width:97px;
    height:46px;
    background-color: #E78200;
    border:none;
    border-radius:6px;
    color:white;
    font-family: 'futura-pt';
    font-weight:500;
    font-size:15.5px;
    letter-spacing:0.3px;
}
@media screen and (max-width:600px){
    
    .rootsinfo{
        flex-direction: column;
    }
    .rootsimg{
        width:85%
    }
    .rootsimg img{
        width: 100%;
        height: 236px;
        margin-top: 13%;
    }
    .rootstext{
        margin-left: 18%;
        margin-top: -49%;
        width: 66%;
    }
    .rootstext h1{
        font: normal normal 900 28px/34px Avenir LT Std;
        margin-left: -3%;
        color: #ff2424;
    }
    .rootstext p{
        width: 91%;
        font: normal normal normal 15px/20px Avenir LT Std;
        margin-left: -2%;
        padding:0;
    }
   
    .softskillsinfo{
        flex-direction:column;
    }
    .softskillsimg{
        width: 85%;
        height: 430px;
        align-items: center;
        float: left;
        margin-top: -458px;
        margin-left: 7%;
    }
    .softskillsimg img{
        width: 100%;
        height: 236px;
        margin-top: 13%;
    }
    .softskillstext{
        margin-left: -1%;
        float: right;
        margin-top: 75%;
        width: 85%;
    }
    .softskillstext h1{
        font: normal normal 900 28px/34px Avenir LT Std;
        color: #ff2424;
        margin-left: 17%;
    }
    .softskillstext p{
        width: 91%;
        font: normal normal normal 15px/20px Avenir LT Std;
        margin-left:19%;
        padding:0;
        margin-top:-4%;
    }
    .careerinfo{
        flex-direction:column;
    }
    .careerimg{
        width:85% 
    }
    .careerimg img{
        width: 100%;
        height: 236px;
        margin-top: 13%;
    }
    .careertext{
        margin-left: 18%;
        margin-top: -49%;
        width: 66%;
    }
    .careertext h1{
        font: normal normal 900 28px/34px Avenir LT Std;
        margin-left: -3%;
        color: #ff2424;
    }
    .careertext p{
        width: 91%;
        font: normal normal normal 15px/20px Avenir LT Std;
        margin-left: -2%;
        padding:0;
    }
    .plans{
        width:100%;
        height:100%;
    }
    .plansinfo{
        flex-direction:column;
    }
    .plansimg{
        float:left;
        width:100%;
    }
    .plansimg img{
        width:78%;
    }
    .planstext{
        float:right;
        width:100%;
    }
    .signup{
        width:100%;
        height:500px;
    }
    .signupimage{
        height:100%;
    }
    .signtext{
        margin-top: 20px;
        width: 358px;
        text-align: center;
        height: 150px;
        margin-left: 15%;   
    }
    .signupform{
        margin-top: -304px;
    }
    .formtext{
        width: 297px;
        text-align: start;
        margin-top: -35px;
        margin-right: 39px;
        color: white;
        font-weight: bold;
    }
    .textsignup{
       margin-top:-29px;
    }
}
@media screen and (max-width:375px){
    .signtext{
        width:338px;
    }
}
@media  screen and (min-width : 600px) and (max-width : 603px){
    .roots{
        height:300px;
    }
    .rootsinfo{
        display:flex;
        flex-direction:row;
    }
    .rootstext{
        margin-top:0;
    }
    .softskillsinfo{
        display:flex;
        flex-direction:row;
    }
    .softskillstext{
        margin-top:2%;
    }
    .softskillsimg{
        margin-top:21px;
    }
    .careerinfo{
        display:flex;
        flex-direction:row; 
    }
    .careertext{
        margin-top:0;
    }
    .plansimg img{
        padding-left: 22%;
    }
}
@media screen and (min-width:600px) and (max-width:900px){
    .roots{
        height:100%;
    }
    .rootstext{
        margin-left:2%;
    }
    .rootstext h1{
        font: normal normal 900 28px/34px Avenir LT Std;
        margin-left: -3%;
        color: #ff2424;
    }
    .rootsimg img{
        width: 83%;
        height: 194px;
        margin-top: 15%;
    }
    .rootstext p{
        width: 70%;
        font: normal normal normal 15px/20px Avenir LT Std;
        margin-left: -2%;
        padding:0;
    }
    .softskills{
        height:100%;
    }
    .softskillsimg{
        margin-left:2%;
    }
    .softskillsimg img{
        width: 83%;
        height: 194px;
        margin-top: 15%;
    }
    .softskillstext h1{
        font: normal normal 900 28px/34px Avenir LT Std;
        color: #ff2424;
        margin-left: 17%;
    }
    .softskillstext p{
        width: 70%;
        font: normal normal normal 15px/20px Avenir LT Std;
        margin-left:19%;
        padding:0;
        margin-top:-4%;
    }
    .career{
        height:100%;
    }
    .careerimg img{
        width: 83%;
        height: 194px;
        margin-top: 13%;
    }
    .careertext{
        margin-left:2%;
    }
    .careertext h1{
        font: normal normal 900 28px/34px Avenir LT Std;
        margin-left: -3%;
        color: #ff2424;
    }
    .careertext p{
        width: 70%;
        font: normal normal normal 15px/20px Avenir LT Std;
        margin-left: -2%;
        padding:0;
    }
    .plansinfo{
        display:flex;
    }
    .plansimg img{
        width:250px;
        height:250px;
    }
    .signupform{
        margin-top:-400px;
    }
    .signtext{
        margin-left: 6px;
        width: 44%;
        height: 166px;
        margin-top: 15%;
    }
    .formtext{
        width:297px;
        margin-right:23px;
    }
}