.privacypolicy{
    margin:5% 8%;
}
.privacypolicy h1{
    text-align: center;
    color:#ff2424;
    font-family:'Avenir LT Std 95 Black'
}
.privacypolicy p{
    color: #0E1E40;
    text-align: left;
    font:normal normal normal 21px/28px 'Avenir LT Std 45 Book';
}
.privacypolicy h2{
    text-align:left;
    color: #0E1E40;
    opacity: 0.75;
    font: normal normal normal 25px/30px 'Avenir LT Std 95 Black'
}
.privacypolicy ul{
    color: #0E1E40;
    font: normal normal normal 21px/28px 'Avenir LT Std 45 Book';
}
.privacypolicy li{
    list-style: none;
    color: #0E1E40;
}
.privacypolicy li::before{
    content: "\2022";
    color: #0E1E40;
    font-size: 18px;
    margin-left: -30px;
    margin-right: 10px;
}
